.animation-box1{
    animation: 3s ease-in-out .5s animationBox forwards infinite;
}
.animation-box2{
    animation: 4s ease-in-out .5s animationBox forwards infinite;
}
.animation-box3{
    animation: 2s ease-in-out .5s animationBox forwards infinite;
}

.DayPicker{
  font-size: 1.7rem !important;
}

.a{
  background: #66bb6a;
  background-color: #faf9f8;
  background: #3892e9;
  background: #faf9f8;
}

@keyframes animationBox{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0);
    }
}


/* style loading */

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 2000px;
    transform: rotateX(-30deg) rotateY(-45deg);
  }
  
  .holder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    transform: translate3d(0em, 3em, 1.5em);
  }
  .holder:last-child {
    transform: rotateY(-90deg) rotateX(90deg) translate3d(0, 3em, 1.5em);
  }
  .holder:first-child {
    transform: rotateZ(-90deg) rotateX(-90deg) translate3d(0, 3em, 1.5em);
  }
  .holder:nth-child(1) .box {
    background-color: #1FBCD3;
  }
  .holder:nth-child(1) .box:before {
    background-color: #126d7a;
  }
  .holder:nth-child(1) .box:after {
    background-color: #1894a7;
  }
  .holder:nth-child(2) .box {
    background-color: #CBE2B4;
  }
  .holder:nth-child(2) .box:before {
    background-color: #98c66a;
  }
  .holder:nth-child(2) .box:after {
    background-color: #b2d48f;
  }
  .holder:nth-child(3) .box {
    background-color: #F6B6CA;
  }
  .holder:nth-child(3) .box:before {
    background-color: #eb5b88;
  }
  .holder:nth-child(3) .box:after {
    background-color: #f089a9;
  }
  
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    -webkit-animation: ani-box 6s infinite;
            animation: ani-box 6s infinite;
    width: 3em;
    height: 3em;
  }
  .box:before, .box:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
  }
  .box:before {
    left: 100%;
    bottom: 0;
    transform: rotateY(90deg);
    transform-origin: 0 50%;
  }
  .box:after {
    left: 0;
    bottom: 100%;
    transform: rotateX(90deg);
    transform-origin: 0 100%;
  }
  
  @-webkit-keyframes ani-box {
    8.33% {
      transform: translate3d(-50%, -50%, 0) scaleZ(2);
    }
    16.7% {
      transform: translate3d(-50%, -50%, -3em) scaleZ(1);
    }
    25% {
      transform: translate3d(-50%, -100%, -3em) scaleY(2);
    }
    33.3% {
      transform: translate3d(-50%, -150%, -3em) scaleY(1);
    }
    41.7% {
      transform: translate3d(-100%, -150%, -3em) scaleX(2);
    }
    50% {
      transform: translate3d(-150%, -150%, -3em) scaleX(1);
    }
    58.3% {
      transform: translate3d(-150%, -150%, 0) scaleZ(2);
    }
    66.7% {
      transform: translate3d(-150%, -150%, 0) scaleZ(1);
    }
    75% {
      transform: translate3d(-150%, -100%, 0) scaleY(2);
    }
    83.3% {
      transform: translate3d(-150%, -50%, 0) scaleY(1);
    }
    91.7% {
      transform: translate3d(-100%, -50%, 0) scaleX(2);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) scaleX(1);
    }
  }
  
  @keyframes ani-box {
    8.33% {
      transform: translate3d(-50%, -50%, 0) scaleZ(2);
    }
    16.7% {
      transform: translate3d(-50%, -50%, -3em) scaleZ(1);
    }
    25% {
      transform: translate3d(-50%, -100%, -3em) scaleY(2);
    }
    33.3% {
      transform: translate3d(-50%, -150%, -3em) scaleY(1);
    }
    41.7% {
      transform: translate3d(-100%, -150%, -3em) scaleX(2);
    }
    50% {
      transform: translate3d(-150%, -150%, -3em) scaleX(1);
    }
    58.3% {
      transform: translate3d(-150%, -150%, 0) scaleZ(2);
    }
    66.7% {
      transform: translate3d(-150%, -150%, 0) scaleZ(1);
    }
    75% {
      transform: translate3d(-150%, -100%, 0) scaleY(2);
    }
    83.3% {
      transform: translate3d(-150%, -50%, 0) scaleY(1);
    }
    91.7% {
      transform: translate3d(-100%, -50%, 0) scaleX(2);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) scaleX(1);
    }
  }

/* scroll bar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background:transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.an::after{
  content: "";
  background-image: linear-gradient(to top, rgba(255,255,255,0.5),rgba(0,0,0,0.5));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* /////////////////////////////// RADIOINPUT /////////////////// */

.container-radio-input-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.container-radio-input-label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
  font-size: 1.7rem;
  /* Accessible outline */
  /* Remove comment to use */
  /*
  	&:focus-within {
  			outline: .125em solid $primary-color;
  	}
  */
}
.container-radio-input-label input {
  position: absolute;
  left: -9999px;
}
.container-radio-input-label input:checked + span {
  background-color: #d6d6e5;
}
.container-radio-input-label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}
.container-radio-input-label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
}
.container-radio-input-label span:hover {
  background-color: #d6d6e5;
}
.container-radio-input-label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}

.container-radio-input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}



/* /////////////////////    waves */


.text {
  color: white;
  position: relative;
  top: 35%;
  display: flex;
  justify-content: left;
  font-size: 28px;
  font-family: Source Sans Pro;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.7em;
  animation: spacing 4s ease-out alternate infinite;
  animation-delay: -2s;
  z-index: 6;
  text-shadow: 0px 0px 6px hsla(0, 0%, 100%, 0.4);
}

.water {
  transition: all .3s;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}



.ripple-one {
  position: absolute;
  width: 525px;
  height: 525px;
  border-radius: 45%;
  transform-origin: 50% 48%;
  animation: water 5s infinite linear;
  background: rgba(0,0,0,0.2);
  z-index: 3;
  transform: translate3d(0, 0, 0);
}

.ripple-two {
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 42%;
  transform-origin: 50% 48%;
  animation: water 4s infinite linear;
  background: rgba(0,0,0,0.3);
  z-index: 2;
}

.ripple-three {
  position: absolute;
  width: 650px;
  height: 650px;
  border-radius: 45%;
  transform-origin: 50% 48%;
  animation: water 6s infinite linear;
  background: rgba(0,0,0,0.4);
  z-index: 1;
}

@keyframes water {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@keyframes spacing {
  0% {	letter-spacing: 0.7em; margin-left: 0.7em; }
  100% { letter-spacing: 1em; margin-left: 1em;}
}



/* ///////////// input number */
